@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.swiper-wrapper {
  display: flex;
}

.scrollbar-thin {
  scrollbar-width: auto; /* Para Firefox */
  margin-bottom: 4px;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 8px !important; /* Ancho de la barra de desplazamiento */
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Color del fondo de la barra de desplazamiento */
}



@media screen and (min-width: 600px) {
  .ant-select-selector {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1.3rem !important;
  }

  label, .ant-select-selector {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
}
